body {
    background-image: url("https://i0.wp.com/www.oinkoink.com.mx/wp-content/uploads/2021/06/ventas-de-autos.jpg?fit=1280%2C720&ssl=1");
}

#contenedor {
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgb(177, 218, 218);
    width: 50%;
    padding: 10px;

}

#cabecera {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 10px;
}

.flex {
    display: flex;
}

#menu1 {
    margin-top: 10px;
    float: left;
    width: 48%;
    height: 200px;
    padding: 1px;
}

#menu2 {
    margin-top: 10px;
    float: right;
    width: 45%;
    height: 200px;

}

#pie {
    text-align: left;
    padding: 10px;
}
label{
    color: rgb(7, 7, 7);
    font-size: 20px;
}

@media screen and (max-width: 800px){
    .flex {
        flex-direction: column;
        align-items: center;
    }
}